.contenedorNosotros {
  height: 100%;

  .historia {
    padding: 10px;
    text-align: center;
    font-family: montserrat, sans-serif;
    margin: 3rem;
    font-size: 30px;

    p {
      margin: 2rem;
      font-size: 30px;
    }
  }

  .tituloNosotros {
    text-align: center;
    margin: 2rem;
    font-size: 50px;
  }
}
